@menu-width: 168px;
@column: 5.55555%;
@navbar-height: 75px;

body {
  .position(absolute, 0, 0, 0, 0);
  background-color: #315481;
  .background-image( linear-gradient(top, #FFEEEE, #DDEFBB 100%) );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#container {
  margin-top: @navbar-height;
}

#container {
  .position(absolute, 0, 0, 0, 0);
  // Hide anything offscreen
  overflow: hidden;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  margin-bottom: 0px;
}

.navbar .navbar-collapse {
  .title-caps;
  text-align: center;
  line-height: @navbar-height;
  height: @navbar-height;
  padding-top: 0;

  a {
    color: #34495e;
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
}

.navbar-right {
  margin-right: 1%;
  line-height: @navbar-height;
  height: @navbar-height;
  padding-top: 0;
}


#menu {
  .position(absolute, 0, 0, 0, 0, @menu-width);
  text-align: center;
  background: #2cc5d2;
  .addcourse {

  }
}

#content-container {
  .position(absolute, 0, 0, 0, 0);
  .transition(all 200ms ease-out);
  .transform(translate3d(0, 0, 0));
  opacity: 1;

  @media screen and (min-width: 40em) {
    left: @menu-width;
  }

  .wrapper-message {
    .position(absolute, 0, 0, 0, 0);
    .transform(translate3d(0, 0, 0));
    margin-top: 15%;
    margin-right: @menu-width;
  }

  .content-scrollable {
    .position(absolute, 0, 0, 0, 0);
    .transform(translate3d(0, 0, 0));
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  #add-course-form {
    text-align: center;

    .wrapper-add {
      padding-top: 4em;

      @media screen and (min-width: 40em) {
        margin: 0 auto auto 20%;
        max-width: 480px;
      }

      .title-add {
        .font-l1;
        .type-light;
        color: @color-ancillary;
        margin-bottom: .75rem;
      }

      form {
        .input-symbol {
          margin-bottom: 1px;
          width: 100%;
        }

        .btn-primary {
          margin: 1em 5% 0;
          width: 90%;

          @media screen and (min-width: 40em) {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
          }
        }
      }
      .list-errors {
        margin-top: -2rem;
        .list-item {
          .title-caps;
          background: @color-note;
          color: @color-negative;
          font-size: .625em; // 10px
          margin-bottom: 1px;
          padding: .7rem 0;
        }
      }
    }

    .link-auth-alt {
      .font-s1;
      .position(absolute, auto, 0, 1em, 0);
      color: @color-medium;
      display: inline-block;

      @media screen and (min-width: 40em) {
        bottom: 0;
        margin-top: 1rem;
        position: relative;
      }
    }
  }


  #course-header {
    .title-caps;
    padding-top: 1em;
    text-align: center;
    @media screen and (min-width: 40em) {
      margin: 0 auto;
      max-width: 600px;
      max-height: 30%;
    }
  }

  #add-review-button {
    .position(absolute, 0, 0, auto, auto);
    text-align: right;
    padding-top: 1em;
    padding-right: 2em;  
  }
  #back-button {
    .position(absolute, 0, auto, auto, 0);
    text-align: left;
    padding-top: 1em;
    padding-left: 2em;  
  }

  .js-back-button {
    cursor: pointer;
  }

  .js-new-review {
    cursor: pointer;
  }

  #overall-rating {
    margin-top: 1em;
    text-align: center;
  }

  #reviews {
    @media screen and (min-width: 40em) {
      margin: auto auto 0 0;
      max-height: 70%;
    }
  }

  #ratings {
    .position(absolute, 200px, 0, 0, 0);
    border: 1px solid #f0f9fb;
    text-align:center;
    @media screen and (min-width: 40em) {
      margin: auto auto 0 0;
      max-width: 50%;
    }
  }

  #text-reviews {
    .position(absolute, 200px, 0, 0, 0);
    text-align:center;
    border: 1px solid #f0f9fb;
    @media screen and (min-width: 40em) {
      margin: auto 0 0 auto;
      max-width: 50%;
    }
  }
}