.list-items .list-item {
  .font-s2;
  /*background: @color-tertiary;*/
  // Layout of list-item children
  .display(flex);
  .flex-wrap(wrap);
  height: 3rem;
  cursor: pointer;
  .title-caps;
  // Border between list items
  & + .list-item {
   border-top: 1px solid #f0f9fb;
  }

  .identifier {
    margin: 0 40px 0 10px;
    width: 300px; 
  }
}

.header {
  background: @color-tertiary;
  .display(flex);
  .flex-wrap(wrap);
  .title-caps;
  .identifier-head {
    .font-m1;
    margin: 0 40px 0 10px;
    width: 20rem; 
  }
}

.list-item-reviews {
  text-align: center;
}
.list-item-rating {
  text-align: right;
}