.list-items .list-item {
  .font-s2;
  /*background: @color-tertiary;*/
  // Layout of list-item children
  .display(flex);
  .flex-wrap(wrap);
  height: 3rem;
  cursor: pointer;
  .title-caps;
  // Border between list items
  & + .list-item {
   border-top: 1px solid #f0f9fb;
  }


  .list-item-name {
    width: 50%;
    padding-left: 15px;
   }

   .list-item-rating {
    width: 50%;
    text-align:center;
    padding-left: 15px;
   }
}

.header {
  background: @color-tertiary;
  /*background: @color-tertiary;*/
  // Layout of list-item children
  .display(flex);
  .flex-wrap(wrap);
  margin-bottom: 10px;
  .title-caps;
  .header-name {
    width: 50%;
    text-align: center;
    padding-left: 15px;
  }
  .header-rating {
    width: 50%;
    text-align: center;
    padding-left: 15px;
  }
}