<template name="addCourse">
  <div class="jumbotron">
    <nav>
      <div class="nav-group">
        <a href="#" class="js-menu nav-item"><span class="icon-list-unordered"></span></a>
      </div>
    </nav>

    <div class="content-scrollable">
      <div class="wrapper-auth">
        <h1 class="title-auth">Add Course.</h1>
        <form>
          {{#if errorMessages}}
            <div class="list-errors">
              {{#each errorMessages}}
                <div class="list-item">{{this}}</div>
              {{/each}}
            </div>
          {{/if}}

          <div class="input-symbol" {{errorClass 'courseName'}}>
            <input type="text" name="course-name" placeholder="Course Name" />
            <span class="icon-file-text" title="Course Name"></span>
          </div>

          <div class="input-symbol" {{errorClass 'department'}}>
            <input type="text" name="department" placeholder="Department" />
            <span class="icon-library" title="Department"></span>
          </div>

          <div class="input-symbol" {{errorClass 'courseNumber'}}>
            <input type="text" name="course-number" placeholder="Course Number" />
            <span class="icon-hash" title="Course Number"></span>
          </div>

          <div class="input-symbol" {{errorClass 'exists'}}>
            <input type="text" name="professor" placeholder="Professor" />
            <span class="icon-user-tie" title="Professor"></span>
          </div>

          <button type="submit" class="btn-primary">Add</button>
        </form>
      </div>
    </div>
  </div>
</template>