<template name="appBody">
  {{#if currentUser}}
    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
          <div class="navbar-header">
            <a class="js-to-main">{{school}}</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="js-logout">Logout</a></li>
            </ul>
          </div>
        </div>
    </nav>
  	<div id="container">
      {{#if toMain}}
  		  {{> home}}
      {{/if}}
      {{#if toAddCourse}}
        {{> addCourse}}
      {{/if}}
  	</div>     
  {{/if}}
  {{#unless currentUser}}
    {{> signin}}
  {{/unless}}
</template>	