<template name="currentCourse">
  <div id="content-container">
    <div id="course-header">
      <h1 class="title-course">{{name}}</h1>
      <p class="subtitle-course">{{dept}}{{courseNumber}}</p>
      <div id="overall-rating">
          {{courseRating}}/5
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          All <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>All</li>
          {{# each professorNames}}
            {{> professorDropdown}}
          {{/each}}
        </ul>
      </div>

    </div>
    <div id="add-review-button">
      <span class="icon-plus js-new-review"></span>
    </div>
    <div id="back-button">
      <span class="icon-undo js-back-button"></span>
    </div>
    <div id="reviews">
      <div id="ratings">
        <ul id="ratings-list">
          <li> Hours Spent per Week: {{courseHours}}, which is in the (percentile).</li>
          <li> Difficult Rating: {{courseDifficulty}}, which is in the (percentile).</li>
          <li> Interest Rating: {{courseInteresting}}, which is in the (percentile).</li>
        </ul>
      </div>
      <div id="text-reviews" class="content-scrollable">
        {{#if reviews this}}
        {{/if}}    
         {{#each reviews this}}
          {{> review}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">No Reviews Yet</div>
            <div class="subtitle-message">Add New Reviews Using the Button Above.</div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="professorDropdown">
  <li>{{.}}</li>
</template>