<template name="home">
  <div id="content-container">
      <div class="content-scrollable list-items">
        {{#if courses this}}
          <div class="header">
            <div class="header-name">Course Name</div>
            <div class="header-rating">Course Rating</div>
          </div>
        {{/if}}    
        {{#each courses this}}
            {{> course}}
          {{else}}
            <div class="wrapper-message">
              <div class="title-message">No Courses Yet</div>
              <div class="subtitle-message">Add New Courses Using the Button on the Left.</div>
            </div>
          {{/each}}
      </div>
  </div>
</template>